@color_1: #808080;
@color_2: #003063;
@font_family_1: "HamburgSans",sans-serif;
@font_family_2: "HamburgSans-bold",sans-serif;

.dipas-gfi-content {
    margin: 12px;
    font-family: @font_family_1;
    .dipas-gfi-thema {
        font-family: @font_family_1;
        font-size: 14px;
        color: @color_1;
        text-transform: uppercase;
    }
    .dipas-gfi-name {
        font-family: @font_family_2;
        font-size: 18px;
        color: @color_2;
        padding-bottom: 16px;
    }
    .dipas-gfi-description {
        font-family: @font_family_1;
        font-size: 14px;
        color: @color_1;
    }

    .dipas-gfi-icon img{
        width: 30px;
        float: left;
        margin: 0px 10px 10px 0px;
    }
}
