<div id="table-nav-cat-panel" class="table-nav-cat-panel collapse">
<div class="table-filter-container"></div>
    <div id="funnel">
    <div id="left-funnel-corner"></div>
    <div id="middle-funnel"></div>
    <div id="right-funnel-corner"></div>
</div>
 </div>
<div id="table-nav-cat-panel-toggler">
    <a href="#table-nav-categories-panel" data-toggle="collapse" class="icon-categories collapsed"></a>
</div>
